<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>

<body>
<table>
    <thead>
        <tr><th>列1</th><th>列2</th><th>列3</th></tr>
    </thead>
    <tbody>
        <template id="rowtemplate">
            <tr><td></td><td></td><td></td></tr>
        </template>
        <tr><td>A</td><td>B</td><td>C</td></tr>
    </tbody>
</table>
<script>
    var template = document.getElementById("rowtemplate");
    var newrow = document.importNode(template.content, true);
    var tds = newrow.querySelectorAll("td");
    tds[0].textContent = "a";
    tds[1].textContent = "b";
    tds[2].textContent = "c";
    template.parentNode.appendChild(newrow);
</script>
</body>
</html>